<div class="contenedor">
  <h2>Proyección de Fórmulas</h2>

  <div class="contenedor-principal">
    <p class="subtitulo">Seleccionar un rango de fechas</p>

    <div class="campos-fechas">
      <input type="date" [(ngModel)]="fechaInicio" />
      <input type="date" [(ngModel)]="fechaFin" />
    </div>

    <button (click)="buscar()" class="btn-confirmar">
      Confirmar
    </button>
  </div>

  <!-- ================= CONSOLIDADO ================= -->
  <div *ngIf="datosTablaConsolidado.length > 0" class="seccion">

    <h3>Reporte Consolidado</h3>

    <!-- TABLA -->
    <app-tabla-dinamica
      [columnas]="columnasConsolidado"
      [datos]="datosTablaConsolidado">
    </app-tabla-dinamica>

    <!-- GRÁFICA -->
    <div class="grafica-container">
      <h4>Visualización Consolidada</h4>
      <canvas id="miGrafica"></canvas>
    </div>

  </div>

  <!-- ================= POR DÍA ================= -->
  <div *ngIf="datosTablaPorDia.length > 0" class="seccion">

    <h3>Reporte por Día</h3>

    <!-- TABLA -->
    <app-tabla-dinamica
      [columnas]="columnasPorDia"
      [datos]="datosTablaPorDia">
    </app-tabla-dinamica>

    <!-- GRÁFICA -->
    <div class="grafica-container">
      <h4>Visualización por Día</h4>
      <canvas id="miGraficaPorDia"></canvas>
    </div>

  </div>

</div>