<div class="container">
  <div class="header">
    <button class="btn-volver" (click)="volver()" >
        <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
    </button>
    <h2>Autorizaciones</h2>
  </div>

  <div class="formulario">
    <div class="fila">
        <label>Paciente:</label>
        <div>{{ paciente }}</div>
    </div>

    <div class="fila">
        <label>Identificación:</label>
        <div>{{ identificacion }}</div>
    </div>

    <div class="fila">
        <label>Protocolo:</label>
        <div>{{ protocolo }}</div>
    </div>

    <div class="fila">
        <label>EPS:</label>
        <div>{{ eps }}</div>
    </div>

    <div class="fila">
      <label>Tratamiento:</label>
      <div>{{ tratamientoFinal }}</div>
    </div>
  </div>

  <h3>Autorización de medicamentos</h3>


  <div class="layout-universal">
    <div class="fila-individual">
      <label>No. Autorización:</label>
      <input type="number" [(ngModel)]="autorizacion.numero" />
      <label>Fecha:</label>
      <input type="date" [(ngModel)]="autorizacion.fecha" />
    </div>

    <!-- Botón para copiar datos -->
    <div class="fila-individual">
      <button class="btn-accion" (click)="copiarAutorizaciones()">
        Copiar a todas las filas
      </button>
    </div>

    <div class="tabla-individual">
      <app-tabla-dinamica 
        [columnas]="columnasIndividual" 
        [datos]="datos"
      ></app-tabla-dinamica>
    </div>
  </div>


  <h3>Autorización de procedimientos</h3>
  <div class="laboratorios">
      <div *ngFor="let lab of laboratorios; let i = index" class="fila">
        <label>No. Autorización:</label>
        <input type="number" [(ngModel)]="lab.autorizacion" class="input-small" />

        <label>Fecha:</label>
        <input type="date" [(ngModel)]="lab.fecha" class="input-small" />

        <label>Fecha vencimiento:</label>
        <input type="date" [(ngModel)]="lab.fecha_vencimiento" class="input-small" />

        <label>Descripción:</label>
        <input type="text" [(ngModel)]="lab.descripcion" class="input-small" />

        <button class="btn-icono" (click)="eliminarLaboratorio(i)" class="btn-trash">
          <img src="assets/images/eliminar.png" width="18" />
        </button>
      </div>

      <button class="btn-agregar" (click)="agregarLaboratorio()">+</button>
    </div>

  <div class="acciones">
    <button class="btn-accion" (click)="Cancelar()">Carcelar</button>
    <button class="btn-accion" (click)="Guardar()">Guardar</button>
  </div>

</div>
