<div class="popup-container" >
  <div class="popup">
    <button class="back-btn" (click)="volver()">
        <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
    </button>

    <div class="form-group">
      <label>Protocolo<span class="required">*</span></label>
      <select (change)="seleccionarProtocolo($event)" required>
        <option value="" disabled selected>-- Seleccione un protocolo --</option>
        <option *ngFor="let p of protocolos" [value]="p.id">{{ p.nombre }}</option>
      </select>
    </div>

    <div class="form-row">
      <label>Fecha de consulta <span class="required">*</span></label>
      <input type="date" [(ngModel)]="formData.fechaConsulta" name="fechaConsulta" required />
    </div>

    <div class="form-group">
      <label>Tipo de paciente<span class="required">*</span></label>
      <select [(ngModel)]="formData.tipoPaciente" name="tipoPaciente" required>
        <option disabled selected>Selecciona un tipo</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.value">{{ tipo.label }}</option>
      </select>
    </div>

    <div class="form-row">
      <label>Razón de tratamiento <span class="required">*</span></label>
      <select [(ngModel)]="formData.razon" name="razon" required>
        <option *ngFor="let r of razones" [value]="r.value">{{ r.label }}</option>
      </select>
    </div>

    <div class="button-group">
      <button class="guardar-btn" (click)="guardar()">Guardar</button>
      <button class="cancelar-btn" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</div>
