<div class="popup-container">
  <div class="popup">
    <button class="close-btn" (click)="volver()">
      <img src="assets/images/close.png" width="18" style="cursor:pointer;" />
    </button>

    <table>
      <thead>
        <tr>
          <th>Medicamento</th>
          <th>Presentación</th>
          <th>Cantidad por aplicación</th>
          <th>Cantidad por ciclo</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let med of resultados">
          <!-- segundo *ngFor: recorre presentaciones de cada medicamento -->
          <tr *ngFor="let pres of med.presentaciones">
            <td>{{ med.nombre}} - {{ med.dosisTeorica }} </td>
            <td>{{ pres.nombrePresentacion }}</td>
            <td>
              <input 
                type="number" 
                [(ngModel)]="pres.cantidadPorAplicacion" 
                min="0" />
            </td>
            <td>
              <input 
                type="number" 
                [(ngModel)]="pres.cantidadPorCiclo" 
                min="0" />
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <button class="guardar-btn" (click)="guardar()">Guardar</button>
    <button class="guardar-btn" (click)="borrador()">Guardar borrador</button>
  </div>
</div>