<div class="popup-container">
  <div class="popup">
    <button class="close-btn" (click)="volver()">
      <img src="assets/images/close.png" width="18" style="cursor:pointer;" />
    </button>
    <table>
      <thead>
        <tr>
          <th>Medicamento</th>
          <th>Presentación</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of filasTabla; let i = index">
          <td>{{ fila.nombreMedicamento }}</td>
          <td>{{ fila.presentacion }}</td>
          <td>{{ fila.cantidad }}</td>
          <td>
            <button class="delete" (click)="eliminarFila(i)">
              <img src="assets/images/eliminar.png" width="18"  />
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="add-btn" (click)="agregarFila()">+</button>

    <button class="guardar-btn" (click)="guardar()">Guardar</button>
  </div>
</div>