.contenedor {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

/* 🔹 HEADER */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.header-con-buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header-con-buscador h2 {
  margin: 0;
}

/* 🔹 FILTROS */
.filtros {
  display: flex;
  gap: 15px;
  align-items: center;
  gap: 10px;
}

.filtros input {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #818181;
  width: 200px;
}

.filtros-fecha {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filtros-fecha input[type='date'] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.campo {
  display: flex;
  flex-direction: column;
}

/* 🔹 BOTÓN */
button {
  padding: 10px 20px;
  background-color: rgb(255, 103, 29);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  transform: scale(1.05);
  background-color: #fcd5ba;
}

/* 🔹 TABLA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}

thead {
  background-color: #f5f5f5;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: 600;
}

/* 🔹 FILAS */
tbody tr:hover {
  background-color: #f9f9f9;
}

/* 🔹 LOADING */
.loading {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

input, select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}