<div class="container">
  <div class="header">
    <button class="btn-volver" (click)="volver()" >
        <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
    </button>
    <div class="acciones">
      <button class="btn-accion" (click)="abrirPopup()">Medicamentos</button>
    </div>
  </div>

  <div class="formulario">
    <div class="fila">
        <label>Protocolo:</label>
        <div>{{ protocolo }}</div>
    </div>

    <div class="fila">
        <label>Ciclo <span class="requerido">*</span>:</label>
        <div>{{ ciclo }}</div>
    </div>

    <div class="fila">
        <label>Fecha de asignación:</label>
        <div>{{ fecha_asignacion }}</div>
    </div>

    <div class="fila">
        <label>Fecha consulta <span class="requerido">*</span>:</label>
        <input type="date" [(ngModel)]="fecha_consulta" />
    </div>

    <div class="fila">
        <label>Peso <span class="requerido">*</span>:</label>
        <input type="number" [(ngModel)]="peso" />
    </div>

    <div class="fila">
        <label>Superficie corporal <span class="requerido">*</span>:</label>
        <input type="text" [(ngModel)]="superficie" />
    </div>

    <div class="fila">
        <label>TFG:</label>
        <input type="text" [(ngModel)]="tfg" />
    </div>

    <div class="fila">
        <label>Talla: <span class="requerido">*</span></label>
        <input type="text" [(ngModel)]="talla" />
    </div>

    <div class="fila">
        <label>Conciliación medicamentos:</label>
        <input type="checkbox" [(ngModel)]="conf_medicamentos" />
    </div>
  </div>

  <div class="tabla">
    <app-tabla-dinamica
        [columnas]="columnas"
        [datos]="datos">
    </app-tabla-dinamica>
  </div>

</div>

<app-pop-up-medicamentos *ngIf="mostrarPopup" (cerrar)="cerrarPopup()"></app-pop-up-medicamentos>