.container {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-volver {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.acciones {
  display: flex;
  gap: 10px;
}

.btn-accion {
  background-color: #FFE5D7;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.acciones button:hover {
  transform: scale(1.05);
  background-color: #fcd5ba;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fila {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fila label {
  width: 180px;
  font-weight: 550;
}

.tabla {
  width: 700px;
}

input, select {
  padding: 4px;
  border: 1px solid #ccc;
  width: 180px;
}

.requerido {
  color: red;
}

input[type="text"] {
  width: 220px;
  height: 15px;
  padding: 6px;
  border: 1px solid #818181;
  border-radius: 4px;
  font-family: inherit;
}

input[type="date"] {
  width: 220px;
  height: 15px;
  padding: 6px;
  border: 1px solid #818181;
  border-radius: 4px;
  font-family: inherit;
}

input[type="number"] {
  width: 220px;
  height: 15px;
  padding: 6px;
  border: 1px solid #818181;
  border-radius: 4px;
  font-family: inherit;
}

input[type="checkbox"] {
  margin-top: 10px;
  transform: scale(2.2);
  border: 1px solid #818181;
}

select {
  width: 220px;
  padding: 6px;
  border: 1px solid #818181;
  border-radius: 4px;
  font-family: inherit;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid gray;
  border-left: 1px solid #818181;
}

th:first-child, td:first-child {
  border-left: none; /* para evitar borde doble a la izquierda */
}

.btn-trash {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.btn-agregar {
  margin-top: 10px;
  font-size: 20px;
  padding: 3px 8px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.guardar-fijo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.guardar-fijo button {
  padding: 12px 32px;
  background-color: rgb(255, 103, 29);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  min-width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.guardar-fijo button:hover {
  transform: scale(1.05);
  background-color: #fcd5ba;
}