<div class="contenedor">
  <div class="header">
    <button class="btn-volver" (click)="volver()">
      <img src="assets/images/volver.png" width="18" />
    </button>
    <h2>Configuración de aplicaciones</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columnas">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fila of datosTabla">
        <td *ngFor="let col of columnas">
          <ng-container [ngSwitch]="col.tipo">
            <span *ngSwitchDefault>{{ fila[col.key] }}</span>
            <input
              *ngSwitchCase="'checkbox'"
              type="checkbox"
              [(ngModel)]="fila[col.key]"
            />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="guardar-fijo">
    <button 

      (click)="Guardar()"
    >
      Guardar
    </button>
  </div>
</div>