<div class="contenedor">

    <div class="header-con-buscador">
        <h2>Usuarios</h2>
        <input
            type="text"
            placeholder="Buscar por nombre o cédula"
            [(ngModel)]="filtro"
            (input)="filtrarDatos()"
        />
    </div>
  
  <app-tabla-dinamica
        [columnas]="columnas"
        [datos]="datosFiltrados"
        (cambio)="onCambioEstado($event)"
        (buscar)="abrirModalRoles($event)">
    </app-tabla-dinamica>

    <div class="acciones">
        <button class="btn-accion" (click)="Agregar()">Agregar</button>
  </div>
  <app-modal-crear-usuarios
    *ngIf="mostrarModal"
    (cerrar)="cerrarModal()"
    (guardado)="recargarUsuarios()"
  >
  </app-modal-crear-usuarios>

  <app-modal-roles-usuarios
    *ngIf="mostrarModalRoles"
    [usuario]="usuarioSeleccionado"
    (cerrar)="cerrarModalRoles()"
    (guardado)="recargarUsuarios()">  
  </app-modal-roles-usuarios>

</div>