<div class="inicio-container">

  <h1>Bienvenido a SIASP</h1>

  <p class="subtitle">
    Sistema Integral de Apoyo a Servicios de Pacientes
  </p>

  <div class="card">

    <h2>Hola,👋</h2>

    <p>
      Desde aquí puedes gestionar pacientes, programación, farmacia
      y más módulos del sistema.
    </p>

    <div class="actions">
      <button routerLink="/programacion">Ir a Programación</button>
      <button routerLink="/farmacia">Ir a Farmacia</button>
      <button routerLink="/indicadores">Ver Indicadores</button>
    </div>

  </div>

</div>