.contenedor-enfermeria {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.guardar-fijo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.guardar-fijo button {
  padding: 12px 32px;
  background-color: rgb(255, 103, 29);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  min-width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.guardar-fijo button:hover {
  transform: scale(1.05);
  background-color: #fcd5ba;
}
