.sidebar {
  width: 150px;
  background-color: #ffffff;
  color: rgb(255, 103, 29);
  padding: 15px;
  height: auto;            /* altura igual a la ventana */
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;       /* para posicionar logo absoluto */
  overflow: hidden; 
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);

}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
}

.sidebar a {
  color: black;             /* Color de texto negro */
  text-decoration: none;    /* Quitar subrayado */
  display: block;           /* Que ocupe todo el <li> para clic completo */
  padding: 5px 0;           /* Espaciado opcional */
}

.sidebar a.active {
  font-weight: normal;
  border-left: 4px solid rgb(255, 103, 29);
  border-radius: 5px;
  padding-left: 10px;
}




