.login-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 100px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

button {
  padding: 8px;
  color: white;
  background-color: rgb(255, 103, 29);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.sidebar a {
  color: rgb(255, 255, 255);             
  text-decoration: none;    
  display: block;           
  padding: 5px 0;           /* Espaciado opcional */
}
