<div class="login-container">

  <input
    type="text"
    placeholder="Nombre del usuario"
    [(ngModel)]="username"
  />

  <div class="password-container">

    <input
      [type]="mostrarPassword ? 'text' : 'password'"
      placeholder="Contraseña"
      [(ngModel)]="password"
    />

    <button
      class="btn-eye"
      type="button"
      (click)="togglePassword()"
    >
      {{ mostrarPassword ? '🙈' : '👁' }}
    </button>

  </div>

  <button (click)="onLogin()" [disabled]="loading">
    {{ loading ? 'Ingresando...' : 'Acceder' }}
  </button>

  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Validando credenciales...</p>
  </div>

  <!-- MENSAJE DE ERROR -->
  <p *ngIf="loginError" class="error-message">
    {{ errorMessage }}
  </p>

  <!-- MENSAJE DE ÉXITO -->
  <p *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </p>

  <a href="#">¿Ha olvidado su contraseña?</a>

</div>