<div class="contenedor" #pdfContent>

    <div class="header-con-buscador">
        <div class="header_izq">
            <button class="btn-volver" (click)="volver()">
                <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
            </button>
            <h2>Medicamentos</h2>
        </div>

       <div class="filtros">
        <select
            class="filtro-input"
            [(ngModel)]="tipoPaciente"
            (change)="cargarDatos()"
        >
            <option value="AMBULATORIO">Ambulatorio</option>
            <option value="HOSPITALIZADO">Hospitalizado</option>
        </select>

        <input
            class="filtro-input"
            type="date"
            [(ngModel)]="fechaSeleccionada"
            (change)="cargarDatos()"
        />
        </div>

        <input
            type="text"
            placeholder="Buscar por cédula o nombre"
            [(ngModel)]="filtro"
            (input)="filtrarDatos()"
        />
    </div>

    <app-tabla-dinamica
        [columnas]="columnas"
        [datos]="datosFiltrados">
    </app-tabla-dinamica>

</div>

<!-- BOTÓN DE DESCARGA (NO SE INCLUYE EN EL PDF) -->
<div class="guardar-fijo">
    <button class="btn-volver" (click)="descarga()">
        Descargar xmlx
    </button>
</div>
