<div class="overlay">

  <div class="modal">

    <div class="header-modal">
      <h3>Asignar Roles</h3>
      <button class="btn-cerrar" (click)="cerrarModal()">✕</button>
    </div>

    <!-- FORM -->
    <div class="formulario">

      <input 
        type="text" 
        placeholder="Nombre"
        [(ngModel)]="nombre"
      />

      <input 
        type="text" 
        placeholder="Usuario"
        [(ngModel)]="usuario"
      />

    </div>

    <!-- ROLES -->
    <div class="roles">

      <label class="rol-item" *ngFor="let rol of roles">
        <input
          type="checkbox"
          [value]="rol.id"
          (change)="toggleRol(rol.id)"
        />
        {{ rol.nombreRol }}
      </label>

    </div>

    <!-- BOTONES -->
    <div class="acciones">
      <button class="btn-secundario" (click)="cerrarModal()">
        Cancelar
      </button>

      <button class="btn-principal" (click)="guardar()">
        Guardar
      </button>
    </div>

  </div>

</div>