<div class="paciente-container">
  <div class="header">
    <button class="btn-volver" (click)="volver()" >
        <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
    </button>
    <div class="acciones">
      <button class="btn-accion" (click)="anadirCiclo()">Configurar Ciclo</button>
      <button class="btn-accion" (click)="abrirPopupPr()">Seleccionar protocolo</button>
    </div>
  </div>

  <div class="formulario">
    <div class="columna-izquierda">
        <div class="fila">
            <label>Paciente:</label>
            <div>{{ paciente }}</div>
        </div>

        <div class="fila">
            <label>Identificación:</label>
            <div>{{ identificacion }}</div>
        </div>

        <div class="fila">
            <label>Médico tratante:</label>
            <div>{{ medico }}</div>
        </div>

        <div class="fila">
            <label>Protocolo:</label>
            <div>{{ protocolo }}</div>
            <button class="editar" (click)="abrirPopup()" >
                <img src="assets/images/editar.png"  width="18" style="cursor:pointer;" />
            </button>
        </div>

        <div class="fila">
            <label>EPS:</label>
            <div>{{ eps }}</div>
        </div>

        <div class="fila">
            <label>CIE10:</label>
            <div>{{ cie10 }}</div>
        </div>
    </div>

    <div class="columna-derecha">
        <div class="fila">
            <label>Especialidad:</label>
            <div>{{ especialidad }}</div>
        </div>
    </div>
    </div>

    <app-tabla-dinamica
        [columnas]="columnas"
        [datos]="datos">
    </app-tabla-dinamica>

</div>

<app-popup-protocolo 
    *ngIf="mostrarPopupPr" 
    (cerrar)="cerrarPopupPr()"
    
    >
</app-popup-protocolo>
<app-popup-cambio-protocolo *ngIf="mostrarPopup" (cerrar)="cerrarPopup()"></app-popup-cambio-protocolo>
