<div class="container">
  <div class="header">
    <div class="header_izq">
        <button class="btn-volver" (click)="volver()" >
            <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
        </button>
        <h2>Historial del paciente</h2>
    </div>
    <div class="acciones">
        <button class="btn-accion" (click)="historial()">Historial</button>

        <ng-container *ngIf="tieneCicloActivo">
            <button 
            class="btn-accion" 
            *ngIf="mostrarBotonProgramar" 
            (click)="abrirPopupP()">
            Programar
            </button>

            <button 
                class="btn-accion" 
                *ngIf="mostrarBotonNotificar" 
                (click)="notificarPaciente()">
                Paciente Notificado
            </button>
        </ng-container>
        <button class="btn-accion" (click)="abrirPopup()">Cancelar Ciclo</button>
    </div>
  </div>

  <div class="formulario">
    <div class="columna-izquierda">
        <div class="fila">
            <label>Paciente:</label>
            <div>{{ paciente }}</div>
        </div>

        <div class="fila">
            <label>Identificación:</label>
            <div>{{ identificacion }}</div>
        </div>

        <div class="fila">
            <label>Protocolo:</label>
            <div>{{ protocolo }} <span *ngIf="version">- versión {{ version }}</span> </div>
        </div>

        <div class="fila">
            <label>Médico tratante:</label>
            <div>{{ medico }}</div>
        </div>

        <div class="fila">
            <label>Teléfono:</label>
            <div>{{ telefono1 }} - {{telefono2}} </div>
        </div>

        <div class="fila">
            <label>Tipo de tratamiento:</label>
            <div>{{ nombreTrat }}</div>
        </div>

        <div class="fila">
            <label>Tratamiento:</label>
            <div>{{ tipoTrat }}</div>
        </div>
    </div>

    <div class="columna-derecha">
        <div class="fila">
            <label>Especialidad:</label>
            <div>{{ especialidad }}</div>
        </div>
    </div>
  </div>

  <div class="inferior" *ngIf="tieneCicloActivo">
    <div class="tabla">
        <app-tabla-dinamica
            [columnas]="columnas"
            [datos]="datos"
            (buscar)="abrirPopupEditar($event)">
        </app-tabla-dinamica>
    </div>

    <div class="medicamentos">
      <button class="btn-accion" (click)="abrirPopupM()">Medicamentos</button>
      <button class="btn-accion" (click)="descargarPDF()">Descargar PDF</button>
    </div>
  </div>

</div>
 <app-popup-motivo 
    *ngIf="mostrarPopup" 
    (cerrar)="cerrarPopup()"
    (enviar)="cancelarCiclo($event)"
></app-popup-motivo>

 <app-popup-medicamentos-obv 
    *ngIf="mostrarPopupM" 
    (cerrar)="cerrarPopupM()"
    (guardarEvento)="GuardarObservacion($event)"
></app-popup-medicamentos-obv>

<app-pop-up-programacion
    *ngIf="mostrarPopupP"
    [modo]="modoPopup"
    (cerrar)="cerrarPopupP()"
    (programar)="programar($event)">
</app-pop-up-programacion>
 