<div class="contenedor">
  <div class="top-bar">
    <button class="btn-volver" (click)="volver()">
      <img src="assets/images/volver.png" width="18" />
    </button>

    <div class="acciones">
      <button class="editar-btn" (click)="editar()">Editar</button>
      
      <button class="desactivar-btn" (click)="desactivarOactivar()">
        {{ protocolo?.estado === 'activo' ? 'Desactivar protocolo' : 'Activar protocolo' }}
      </button>
    </div>
  </div>

  <div class="info">
    <p><strong>Nombre del protocolo:</strong> {{ protocolo.nombreProtocolo }}</p>
    <p><strong>Fecha de creación:</strong> {{ protocolo.fechaCreacion }}</p>
    <p><strong>Versión:</strong> {{ protocolo.version }}</p>
    <p><strong>Usuario creador:</strong> {{ protocolo.usuarioCreacion.nombre }}</p>
    <p><strong>Número de ciclos:</strong> {{ protocolo.numeroCiclo }}</p>
    <p><strong>Duración del ciclo:</strong> {{ protocolo.duracionCiclo }}</p>
    <p><strong>¿Se necesitan exámenes?:</strong> {{ protocolo.necesitaExamenes }}</p>
    <p><strong></strong></p>
  </div>

  <app-tabla-dinamica
    [columnas]="columnas"
    [datos]="datos">
  </app-tabla-dinamica>
</div>
