<div class="reporte-container">
  <h2>Pacientes del {{ fechaSeleccionada }}</h2>

  <div *ngFor="let sala of salas" class="sala-container">
    <h3>Sala {{ sala.id }}</h3>
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Hora</th>
            <th *ngFor="let pos of sala.posiciones">{{ pos }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hora of horas">
            <td class="hora">{{ hora }}</td>
            <td *ngFor="let pos of sala.posiciones" class="celda">
              <ng-container *ngIf="getPaciente(sala.id, pos, hora) as paciente; else libre">
                <div class="ocupado" [attr.rowspan]="paciente.duracion">
                  <strong>{{ paciente.nombre }}</strong><br>
                  <small>{{ paciente.horaInicio }} - {{ calcularHoraFin(paciente) }}</small>
                </div>
              </ng-container>
              <ng-template #libre>
                <div class="libre">Libre</div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
