.reporte-container {
  padding: 2rem;
  text-align: center;
}

.sala-container {
  margin-top: 2rem;
}

h3 {
  background-color: rgb(255, 103, 29);
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.tabla-container {
  overflow-x: auto;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: rgb(255, 103, 29);
  color: white;
  font-size: 0.9rem;
}

.hora {
  background-color: #f5f5f5;
  font-weight: bold;
  width: 70px;
}

.ocupado {
  background-color: #ffb380;
  color: #000;
  border-radius: 6px;
  padding: 4px;
}

.libre {
  color: #aaa;
  font-style: italic;
}
