<div class="contenedor">
    <div class="header-con-buscador">
        <div class="header_izq">
            <button class="btn-volver" (click)="volver()" >
                <img src="assets/images/volver.png" width="18" style="cursor:pointer;" />
            </button>
            <h2>Pacientes pendientes</h2>
        </div>
        <input
            type="text"
            placeholder="Buscar por cédula o nombre"
            [(ngModel)]="filtro"
            (input)="filtrarDatos()"
        />
    </div>
  
  <app-tabla-dinamica
        [columnas]="columnas"
        [datos]="datosFiltrados"
        (buscar)="handleBuscar($event)"
        >
    </app-tabla-dinamica>

  <div class="guardar-fijo">
    <button>Guardar</button>
  </div>
</div>