.contenedor {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.header-con-buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header-con-buscador h2 {
  margin: 0;
}

.header-con-buscador input {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #818181;
  width: 200px;
}

.header_izq {
  display: flex;
  align-items: center;
}

.btn-volver {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
}


