<div class="circulos-programacion">
  <div class="fila">
    <div class="circulo" routerLink="/programacion/confirmación">
      <span>Confirmación</span>
    </div>
    <div class="circulo" routerLink="/programacion/pendientesNotificacion">
      <span>Pendiente Notificación</span>
    </div>
  </div>

  <div class="fila fila-inferior">
    <div class="circulo" routerLink="/programacion/reprogramacion">
      <span>Reprogramación</span>
    </div>
    <div class="circulo" routerLink="/programacion/busquedaPro">
      <span>Consultar Paciente</span>
    </div>
    <div class="circulo" routerLink="/programacion/calendario">
      <span>Disponibilidad de sala</span>
    </div>
  </div>
</div>

