<div class="popup-container">
  <div class="popup">
    <button class="close-btn" (click)="volver()">
      <img src="assets/images/close.png" width="18" style="cursor:pointer;" />
    </button>
    <table>
      <thead>
        <tr>
          <th>Medicamento</th>
          <th>Dosis teórica</th>
          <th>Dosis calculada</th>
          <th>Dosis formulada</th>
          <th></th> 
          <th>Formula</th>
          <th>Duración</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of medicamentos; let i = index">
          <td>
            <ng-container *ngIf="fila.esNueva; else soloLecturaNombre">
              <input 
                type="text"
                list="medicamentosList" 
                [(ngModel)]="medicamentos[i].nombre" 
                placeholder="Escriba un medicamento"
              />
              <datalist id="medicamentosList">
                <option *ngFor="let med of listaMedicamentos" [value]="med"></option>
              </datalist>
            </ng-container>
            <ng-template #soloLecturaNombre>
              {{ fila.nombre }}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="fila.esNueva; else soloLecturaDosisTeorica">
              <input type="number" [(ngModel)]="fila.dosisTeorica" />
            </ng-container>
            <ng-template #soloLecturaDosisTeorica>
              {{ fila.dosisTeorica }}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="fila.esNueva; else soloLecturaDosisCalculada">
              <input type="number" [(ngModel)]="fila.dosisCalculada" />
            </ng-container>
            <ng-template #soloLecturaDosisCalculada>
              {{ fila.dosisCalculada }}
            </ng-template>
          </td>
          <td>
            <input type="number" [(ngModel)]="fila.dosisFormulada" />
          </td>
          <td>
            <button 
              [ngStyle]="{
                'background-color': estaEnRango(fila) ? 'green' : 'red',
                'color': 'white',
                'border': 'none',
                'border-radius': '50%',
                'width': '24px',
                'height': '24px'
              }"
              title="Validación de rango"
            >
            </button>
          </td>
          <td>
            <select [(ngModel)]="fila.formula">
              <option *ngFor="let opcion of opcionesFormula" [value]="opcion.value">{{ opcion.label }}</option>
            </select>
          </td>
          <td>
            <ng-container *ngIf="fila.esNueva; else soloLecturaDuracion">
              <div class="duracion-inputs">
                <input type="number" min="0" [(ngModel)]="fila.duracion.horas" placeholder="Horas" style="width:50px;" />
                <input type="number" min="0" max="59" [(ngModel)]="fila.duracion.minutos" placeholder="Minutos" style="width:50px;" />
              </div>
            </ng-container>
            <ng-template #soloLecturaDuracion>
              {{ fila.duracion?.horas || 0 }}h {{ fila.duracion?.minutos || 0 }}m
            </ng-template>
          </td>
          <td>
            <button class="delete" (click)="eliminarFila(i)">
              <img src="assets/images/eliminar.png" width="18"  />
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="add-btn" (click)="agregarFila()">+</button>

    <button class="guardar-btn" 
        [disabled]="!esFormularioValido()" 
        (click)="irASiguiente()">Siguiente
    </button>
    <button class="guardar-btn" 
        [disabled]="!esFormularioValido()" 
        (click)="emitirGuardar()">Guardar borrador
    </button>
  </div>
</div>

