.contenedor {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.filtros-fecha {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input, select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: rgb(255, 103, 29);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}